﻿@model MsMekanik.Models.Siparis
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h2>Sipariş </h2>

@*<form id="form1" name="form1" method="post" action="~/Siparis/Index">*@
    @Html.BeginForm("Index","Siparis",FormMethod.Post)
    {
    <table width="800" height="571" border="1" align="center" cellspacing="0">
        <tr>
            <td width="1021" height="113">
                <table width="100%" border="1" cellspacing="0" height="100%">
                    <tr>
                        <td width="17%" rowspan="5">Logo</td>
                        <td width="42%" rowspan="5" align="center"><h2><strong>SİPARİŞ FORMU - ORDER</strong> FORM</h2></td>
                        <td width="23%">DÖK. NO</td>
                        <td width="18%">FR.08.01</td>
                    </tr>
                    <tr>
                        <td>YAYIN TARİHİ</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>REVİZYON NO</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>REVİZYON TARİHİ</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>SAYFA NO</td>
                        <td align="center">1/1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="121">
                <table width="100%" border="1" cellspacing="0">
                    <tr>
                        <td width="28%" height="23"><strong>TARİH / DATE</strong></td>
                        <td width="35%" height="23"><input type="text" width="274" name="Tarih" id="Tarih" /></td>
                        <td width="15%"><strong>TEL(PHONE)/FAX</strong></td>
                        <td width="22%" height="23"><input type="text" width="171" name="Tel" id="Tel" /></td>
                    </tr>
                    <tr>
                        <td height="23"><strong>FİRMA /CONPANY</strong></td>
                        <td height="23"><input type="text" width="274" name="Firma" id="Firma" /></td>
                        <td><strong>SİPARİŞ/ORDER NO</strong></td>
                        <td height="23"><input type="text" width="171" name="SiparisNo" id="SiparisNo" /></td>
                    </tr>
                    <tr>
                        <td height="23"><strong>YETKİLİ / RESPECTİVE PERSON</strong></td>
                        <td height="23" colspan="3"><input type="text" width="300" name="Yetkili" id="Yetkili" /></td>
                    </tr>
                    <tr>
                        <td height="23"><strong>KONU /TOPIC</strong></td>
                        <td height="23" colspan="3"><input type="text" width="300" name="Konu" id="Konu" /></td>
                    </tr>
                    <tr>
                        <td height="23"><strong>TERMİN / DEADLİNE</strong></td>
                        <td height="23" colspan="3"><input type="text" width="300" name="Termin" id="Termin" /></td>
                    </tr>
                </table>
                <table width="100%" border="1" cellspacing="0">
                    <tr>
                        <td width="3%" align="center">NO</td>
                        <td width="13%" align="center">ÜRÜN KODU / UNIT CODE</td>
                        <td width="36%" align="center">ÜRÜN ADI VEYA CİNSİ /PRODUCT TYPE</td>
                        <td width="11%" align="center">ADET / QUANTITY</td>
                        <td width="15%" align="center">MALZEME / MATERIAL</td>
                        <td width="22%" align="center">GEREKLİ MALZEME MİKTARİ / REQUIRED MATERIAL QUANTITY</td>
                    </tr>
                    @foreach(var siparisurun in Model.SiparisUrun)
                    { 
                    <tr>
                        <td>1</td>
                        <td>
                           @Html.DropDownListFor(modelItem=> siparisurun.Urunler.ID, (SelectList)(ViewBag.Urunler as SelectList),"Seçiniz",new {@id=$"urunlerddl_{i}",@class="urunlerddl" })
                        </td>
                        <td id="urun_@i">                       
                        </td>
                        <td><input type="text" width="74" name="Adet1" id="Adet1" /></td>
                        <td>@*@Html.DropDownListFor(m => m.UrunMalzemeID, Model.SiparisMalzemeListi)*@</td>
                        <td><input type="text" width="157" name="GerekliMalzeme1" id="GerekliMalzeme1" /></td>
                    </tr>
                    @(i++)
                    }
                    <tr>
                        <td>2</td>
                        <td>
                            <input type="text" name="UrunKodu2" id="UrunKodu2" />
                        </td>
                        <td>
                            <input type="text" width="271" name="UrunAdi2" id="UrunAdi2" />
                        </td>
                        <td><input type="text" width="74" name="Adet2" id="Adet2" /></td>
                        <td><input type="text" width="104" name="Malzeme2" id="Malzeme2" /></td>
                        <td><input type="text" width="157" name="GerekliMalzeme2" id="GerekliMalzeme2" /></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <input type="text" name="UrunKodu3" id="UrunKodu3" />
                        </td>
                        <td>
                            <input type="text" width="271" name="UrunAdi3" id="UrunAdi3" />
                        </td>
                        <td><input type="text" width="74" name="Adet3" id="Adet3" /></td>
                        <td><input type="text" width="104" name="Malzeme3" id="Malzeme3" /></td>
                        <td><input type="text" width="157" name="GerekliMalzeme3" id="GerekliMalzeme3" /></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            <input type="text" name="UrunKodu4" id="UrunKodu4" />
                        </td>
                        <td>
                            <input type="text" width="271" name="UrunAdi4" id="UrunAdi4" />
                        </td>
                        <td><input type="text" width="74" name="Adet4" id="Adet4" /></td>
                        <td><input type="text" width="104" name="Malzeme4" id="Malzeme4" /></td>
                        <td><input type="text" width="157" name="GerekliMalzeme4" id="GerekliMalzeme4" /></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <input type="text" name="UrunKodu5" id="UrunKodu5" />
                        </td>
                        <td>
                            <input type="text" width="271" name="UrunAdi5" id="UrunAdi5" />
                        </td>
                        <td><input type="text" width="74" name="Adet5" id="Adet5" /></td>
                        <td><input type="text" width="104" name="Malzeme5" id="Malzeme5" /></td>
                        <td><input type="text" width="157" name="GerekliMalzeme5" id="GerekliMalzeme5" /></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            <input type="text" name="UrunKodu6" id="UrunKodu6" />
                        </td>
                        <td>
                            <input type="text" width="271" name="UrunAdi6" id="UrunAdi6" />
                        </td>
                        <td><input type="text" width="74" name="Adet6" id="Adet6" /></td>
                        <td><input type="text" width="104" name="Malzeme6" id="Malzeme6" /></td>
                        <td><input type="text" width="157" name="GerekliMalzeme6" id="GerekliMalzeme6" /></td>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="90" colspan="3" valign="top"><strong>MEKANİK SANATLAR ONAYI/MEKANİK SANATLAR CONFIRMATION</strong></td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </table>
                <input type="text" width="271" name="UrunAdi5" id="UrunAdi5" />
            </td>
        </tr>
        <tr>
            <td height="19">
                <table width="100%" border="0">
                    <tr>
                        <td align="center" valign="middle"><input type="submit" name="Gonder" id="Gonder" value="Gönder" /></td>
                        <td align="center" valign="middle"><input type="submit" name="Yazdir" id="Yazdir" value="Yazdır" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    }
@*</form>*@
@section scripts
{
    <script type="text/javascript">
        function ajaxFonk(id,index){
            $.ajax({
                url: '/Siparis/AdiMalzemeListele',
                type: 'POST',
                dataType: 'HTML',
                data: { 'id': id },
                success: function (data) {
                    //$.each(data, function (index, option) {
                    //    adilist.append('<option value=' + option.Value + '>' + option.Text + '</option');
                    //});
                    $("#urun_" + index).html(data);
                    
                }

            });
        }

        $(document).ready(function () {
            $(".urunlerddl").change(function () {
                var id = $(this).val();
                console.log('id:', id);
                var index = $(this).attr('id').split('_')[1];
                console.log('index:', index);

                ajaxFonk(id, index);
            });
        });
    </script>
    }