﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form id="form1" name="form1" method="post" action="/Depo/Index">
            <table width="960" height="1037" border="1" align="center" cellspacing="0">
                <tr>
                    <td width="1021" height="113">
                        <table width="100%" border="1" cellspacing="0" height="100%">
                            <tr>
                                <td width="17%" rowspan="5">Logo</td>
                                <td width="42%" rowspan="5" align="center"><h2><strong>MALZEME GİRİŞ  ENVANTERİ</strong></h2></td>
                                <td width="23%">DÖK. NO</td>
                                <td width="18%">FR.04.02</td>
                            </tr>
                            <tr>
                                <td>YAYIN TARİHİ</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>REVİZYON NO</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>REVİZYON TARİHİ</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>SAYFA NO</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="121">
                        <table width="960" border="1" cellspacing="0">
                            <tr>
                                <td width="63" height="24" rowspan="2" align="center"><strong>TARİH</strong></td>
                                <td width="120" height="24" rowspan="2" align="center"><strong>MÜŞTERİ ADI</strong></td>
                                <td width="120" height="24" rowspan="2" align="center"><strong>TEDARİKÇİ</strong></td>
                                <td width="100" height="24" rowspan="2" align="center"><strong>MALZEME LOT NO</strong></td>
                                <td width="92" height="24" rowspan="2" align="center"><strong>MALZEME CİNSİ</strong></td>
                                <td height="12" colspan="3" align="center"><strong>Miktar</strong></td>
                                <td width="101" height="24" rowspan="2" align="center"><strong>MALZEME TAKİP NO</strong></td>
                                <td width="82" rowspan="2" align="center"><strong>RAF NO</strong></td>
                                <td width="101" rowspan="2" align="center"><strong>TESLİM TARİHİ</strong></td>
                            </tr>
                            <tr>
                                <td height="12" align="center"><strong>ÇAP</strong></td>
                                <td height="12" align="center"><strong>BOY</strong></td>
                                <td height="12" align="center"><strong>ADET</strong></td>
                            </tr>
                            <tr>
                                <td height="21" width="63" align="center" valign="middle"><input type="text" name="Tarih" width="63px" id="Tarih" /></td>
                                <td height="21"><input type="text" name="MusteriAdi" id="MusteriAdi" /></td>
                                <td height="21"><input type="text" name="Tedarikci" id="Tedarikci" /></td>
                                <td height="21"><input type="text" width="100" name="MalzemeLotNo" id="MalzemeLotNo" /></td>
                                <td height="21"><input type="text" name="MalzemeCinsi" id="MalzemeCinsi" /></td>
                                <td width="45" height="21"><input type="text" width="45" name="cap" id="cap" /></td>
                                <td width="45"><input type="text" width="45" name="Boy" id="Boy" /></td>
                                <td width="45"><input type="text" width="45" name="Adet" id="Adet" /></td>
                                <td height="21"><input type="text" width="100" name="MalzemeTakipNo" id="MalzemeTakipNo" /></td>
                                <td><input type="text" width="81" name="RafNo" id="RafNo" /></td>
                                <td><input type="text" width="100" name="TeslimTarihi" id="TeslimTarihi" /></td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="21" align="center" valign="middle">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td height="21">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="34">
                        <table width="100%" border="0">
                            <tr>
                                <td align="center" valign="middle"><input type="submit" name="Gonder" id="Gonder" value="Gönder" /></td>
                                <td align="center" valign="middle"><input type="submit" name="Yazdir" id="Yazdir" value="Yazdır" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
